.mostrar_comentarios{
    background-color: #F9F9F9;
    border-top: 14px solid #FFD116; 
    height: 80px; 
    margin-bottom: 5px;
    overflow: auto;
    padding-left: 10px; 
    padding-top: 10px;
    position: relative; 
    width: 100%; 
}

.cover{
    position: fixed;
    width: 400px;
    z-index: 20;
}